<template>
	<!-- reference: https://codesandbox.io/s/basetimer-no-parent-control-6frgv?from-embed=&file=/src/components/BaseTimer.vue:0-3134 -->
	<div class="base-timer">
		<svg
			class="base-timer__svg"
			viewBox="0 0 100 100"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g class="base-timer__circle">
				<circle
					class="base-timer__path-elapsed"
					cx="50"
					cy="50"
					r="45"
				></circle>
				<path
					:stroke-dasharray="circleDasharray"
					class="base-timer__path-remaining"
					:class="remainingPathColor"
					d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
				></path>
			</g>
		</svg>
		<span class="base-timer__label">{{ formattedTimeLeft }}</span>
	</div>
	<div v-if="final">
		<span class="started">started 🏇💨</span>
	</div>
</template>

<script>
const FULL_DASH_ARRAY = 283;
const WARNING_THRESHOLD = 30;
const ALERT_THRESHOLD = 5;

const COLOR_CODES = {
	info: {
		color: 'green',
	},
	warning: {
		color: 'orange',
		threshold: WARNING_THRESHOLD,
	},
	alert: {
		color: 'red',
		threshold: ALERT_THRESHOLD,
	},
	final: {
		color: 'cyan',
	},
};

export default {
	props: {
		time: Number,
		raceId: String,
	},
	data() {
		return {
			timePassed: 0,
			final: false,
			finalMin: 60,
			timerInterval: null,
			intervals: {
				second: 1000,
				minute: 1000 * 60,
				hour: 1000 * 60 * 60,
				day: 1000 * 60 * 60 * 24,
			},
		};
	},

	computed: {
		TIME_LIMIT() {
			let date = new Date(this.time * 1000);
			let diff = Math.abs(date.getTime() - Date.now());
			const days = Math.floor(diff / this.intervals.day);
			diff -= days * this.intervals.day;
			const hours = Math.floor(diff / this.intervals.hour);
			diff -= hours * this.intervals.hour;
			const minutes = Math.floor(diff / this.intervals.minute);
			diff -= minutes * this.intervals.minute;
			const second = Math.floor(diff / this.intervals.second);
			if (date.getTime() - Date.now() < 0) {
				//already started race
				this.setFinal();
			}
			return hours * 60 * 60 + minutes * 60 + second;
		},
		circleDasharray() {
			return `${(this.timeFraction * FULL_DASH_ARRAY).toFixed(0)} 283`;
		},

		formattedTimeLeft() {
			const timeLeft = this.timeLeft;
			const minutes = Math.floor(timeLeft / 60);
			let seconds = timeLeft % 60;

			if (seconds < 10) {
				seconds = `0${seconds}`;
			}

			return `${minutes}:${seconds}`;
		},

		timeLeft() {
			return this.final
				? this.finalMin - this.timePassed
				: this.TIME_LIMIT - this.timePassed;
		},

		timeFraction() {
			const rawTimeFraction = this.final
				? this.timeLeft / this.TIME_LIMIT
				: this.timeLeft / this.finalMin;
			return rawTimeFraction - (1 / this.TIME_LIMIT) * (1 - rawTimeFraction);
		},

		remainingPathColor() {
			const { alert, warning, info, final } = COLOR_CODES;

			if (this.timeLeft <= alert.threshold) {
				return alert.color;
			} else if (this.timeLeft <= warning.threshold) {
				return warning.color;
			} else if (this.final) {
				return final.color;
			} else {
				return info.color;
			}
		},
	},

	watch: {
		timeLeft(newValue) {
			if (newValue === 0 && !this.final) {
				this.final = true;
				this.timePassed = 0;
			} else if (newValue === 0 && this.final) {
				this.onTimesUp();
				this.$store.commit('updateList');
				this.$store.commit('popsList', this.raceId);
			}
		},
	},

	mounted() {
		this.startTimer();
	},

	methods: {
		onTimesUp() {
			clearInterval(this.timerInterval);
		},

		startTimer() {
			this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
		},
		setFinal() {
			this.final = true;
		},
	},
	beforeUnmount() {
		this.onTimesUp();
	},
};
</script>

<style scoped lang="scss">
.base-timer {
	position: relative;
	width: 50px;
	height: 50px;
	top: -10px;
	&__svg {
		transform: scaleX(-1);
	}

	&__circle {
		fill: none;
		stroke: none;
	}

	&__path-elapsed {
		stroke-width: 7px;
		stroke: grey;
	}

	&__path-remaining {
		stroke-width: 7px;
		stroke-linecap: round;
		transform: rotate(90deg);
		transform-origin: center;
		transition: 1s linear all;
		fill-rule: nonzero;
		stroke: currentColor;

		&.green {
			color: rgb(65, 184, 131);
		}

		&.orange {
			color: orange;
		}

		&.red {
			color: red;
		}
		&.cyan {
			color: cyan;
		}
	}

	&__label {
		position: relative;
		width: 10px;
		height: 10px;
		top: -32px;
		left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
	}
}
.started {
	color: cyan;
}
</style>
