<template>
  <ul>
    <li v-for="(tabname, index) in categories.name" :key="index">
      <label class="race" :for="`${categories.ids[index]}`" v-text="tabname" />
      <label class="switch">
        <input
          :id="`${categories.ids[index]}`"
          type="checkbox"
          :name="`${categories.name[index]}-tab`"
          v-bind:value="`${categories.ids[index]}`"
          v-model="filters"
        />
        <span class="slider round"></span>
      </label>
    </li>
  </ul>
</template>

<script>
export default {
  name: "CategoryToggle",
  props: {
    categories: {
      name: Array,
      ids: Array,
    },
  },
  computed: {
    filters: {
      set(val) {
        this.$store.commit("updateFilter", val);
        this.$store.commit("updateList");
      },
      get() {
        return this.$store.getters.getFilters;
      },
    },
  },
  created() {
    this.filters = this.$store.getters.getFilters;
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 20px;
}
a {
  color: #42b983;
}
.race {
  font-family: monospace;
  font-size: 3em;
  top: 0px;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: rgba(219, 212, 212, 0.87);
  border-radius: 34px;
  top: 10px;
  left: 8px;
}
.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
</style>
