<template>
  <div v-if="!races" class="loading"></div>
  <div class="raceList">
    <ol class="list">
      <li v-for="(race, index) in races" :key="index" class="race">
        <label :for="`${race.advertisedStart}-race-type`">Race type:</label>
        <span :id="`${race.advertisedStart}-race-type`">{{
          race.raceCategory
        }}</span>
        <label :for="`${race.advertisedStart}-meet-name`">Meeting Name:</label>
        <span :id="`${race.advertisedStart}-meet-name`">
          {{ race.meetingName }}</span
        >
        <label :for="`${race.advertisedStart}-race-num`">Race Number:</label
        ><span :id="`${race.advertisedStart}-race-num`">
          {{ race.raceNumber }}</span
        >
        <base-timer
          :time="race.advertisedStart"
          :raceId="race.raceId"
          :key="race.raceId"
        >
        </base-timer>
      </li>
    </ol>
  </div>
</template>

<script>
import BaseTimer from "./BaseTimer.vue";
import { mapGetters } from "vuex";
export default {
  name: "RaceStage",
  components: {
    BaseTimer,
  },

  computed: {
    ...mapGetters({
      races: "getDisplayList",
      list: "getMainStage",
      filter: "getFilters",
    }),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$black: #1d1f20;
$blue: #83f7f5;
$red: #e4a55c;
$green: #a2ed56;
$yellow: #fddc32;
/*** EXTEND ***/
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.raceList {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}
ol.list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      background: linear-gradient(135deg, $red 0%, $blue 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color: $black;
      display: flex;
      font: 900 1.5em/1 "Montserrat";
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n + #{$i}):before {
        background: linear-gradient(
          135deg,
          rgba($red, $i * 0.2) 20%,
          rgba($blue, $i * 0.3) 100%
        );
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}
.race label {
  position: relative;

  font-family: monospace;
  font-size: 15px;
  top: 0px;
  left: 27px;
}
.race span {
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  top: 30px;
  left: -42px;
}
</style>
