<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <!-- tab categories  -->
  <category-toggle :categories="categories"></category-toggle>
  <race-stage></race-stage>
</template>

<script>
import CategoryToggle from "./components/CategoryToggle.vue";
import RaceStage from "./components/raceStage.vue";
export default {
  name: "App",
  components: {
    CategoryToggle,
    RaceStage,
  },
  data() {
    return {
      categories: {
        name: ["Greyhound Racing", "Harness Racing", "Horse Racing"],
        ids: ["greyhound", "harness", "horse"],
      },
    };
  },
  mounted() {
    this.$store.dispatch("getNextList");
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
